@import "./reset.css";   
@import "./header.css";
@import "./footer.css";
@import "./index.css";
@import "./archive-product.css";
@import "./about.css";
@import "./blog.css";
@import "./contact.css";
@import "./variables.css";
@import "./single-product.css";
@import "./searchform.css";
@import "./single-post.css";
@import "./search.css";
@import "./cart.css";
@import "./checkout.css";
@import "./my-account.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}
